{% extends "chirps/base.html" %}
{% load staticfiles %}

{% block title %}Chirper - {{ chirp.subject }}{% endblock %}

{% block content %}
    <h1>Chirp Detail</h1>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">{{ chirp.subject }}</div>
        <div class="panel-body">
            {{ chirp.message }} <p><small>-by {{ chirp.user }}</small></p>
        </div>
        <div class="panel-footer">{{ chirp.created_at }}</div>
    </div>
    {% if chirp.image %}
    <div>
        <img src="{{ chirp.image.url }}" height="{{ chirp.image.height }}" width="{{ chirp.image.width }}">
    </div>
    {% endif %}
    Time Run: {{ time_run }}
    <div>
    <img src="{% static 'images/download.jpeg' %}">
    </div>
{% endblock %}