{% extends "base.html" %}

{% block title %}Chirper - {{ chirp.subject }}{% endblock %}

{% block content %}
    <h1>Chirp Detail</h1>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">{{ chirp.subject }}</div>
        <div class="panel-body">
            {{ chirp.message }} <p><small>-by {{ chirp.user }}</small></p>
        </div>
        <div class="panel-footer">{{ chirp.created_at }}</div>
    </div>

    <div>
        <img src="{{ chirp.image.url }}" height="{{ chirp.image.height }}" width="{{ chirp.image.width }}">
    </div>

    Time Run: {{ time_run }}

{% endblock %}