{% extends "chirps/chirp_base.html" %}
{% load bootstrap3 %}

{% block title %}Chirper - Chirp List{% endblock %}

{% block content %}
        <h1>Chirps</h1>

        {% if chirp_list %}
        <div class="list-group">
            {% for chirp in chirp_list %}
                <a href="{% url 'chirp_detail' chirp.id %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ chirp.subject }}</h4>
                <p class="list-group-item-text">By {{ chirp.user }} at {{ chirp.created_at }}</p>
                </a>
            {% endfor %}
        </div>
        {% else %}
            <h2>No chirps found</h2>
        {% endif %}

        {% bootstrap_pagination page_obj %}
{% endblock %}
