<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>My Test HTML</h1>
    <div id="myhello">Hello</div>
    <h1 class="red underlined">Test</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kevin</td>
            <td>keving@tiy.com</td>
        </tr>
        <tr>
            <td>Aaron</td>
            <td>aaron@tiy.com</td>
        </tr>
        <tr>
            <td>Dave</td>
            <td>dave@tiy.com</td>
        </tr>
    </tbody>
</table>
</body>
</html>