{% extends "chirps/base.html" %}
{% load socialaccount %}

{% block title %}Log In TO Chirper{% endblock %}

{% block content %}
    <h1>Log In To Chirper</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_p }}
        <input type="submit" name="submit" value="Log In!">
    </form>

    <h1>Log Into Facebook</h1>
    <a href="{% provider_login_url "facebook" %}">Facebook Login</a>

    <h1>Log Into Twitter</h1>
    <a href="{% provider_login_url "twitter" %}">Twitter Login</a>

    <h1>Log Into Github</h1>
    <a href="{% provider_login_url "github" %}">Github Login</a>
{% endblock %}